@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* banner-style */
.banner {
    max-width: 1320px;
    margin: 50px auto;
    background-image:
        linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 16px;

}

.banner .banner-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-info h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "Merriweather ";
}

.banner-info h1 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    font-family: "Merriweather";
    /* 131.944% */
}

/* discount style*/
.discount {
    max-width: 420px;
    margin: 80px auto;
}

.discount h1 {
    color: #F00;
    text-align: center;
    font-family: "Inter";
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.discount p {
    color: #F00;
    text-align: center;
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.discount h2 {
    color: #070211;
    text-align: center;
    font-family: "Inter";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.discount_img img {
    width: 100%;
    margin-top: 100px;
}